@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none!important;
}

.masonry-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(25% - 10px), 1fr));
    gap: 20px;
}

.masonry-item {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.masonry-item img {
    display: block;
    width: 100%;
    height: auto;
}
